<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3 ps-2 pe-2" *ngIf="isAuthenticated()">
  <a class="navbar-brand ms-3" routerLink="/">Attendly</a>

  <!-- Navbar Toggler Button -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100" id="navbarContent">
    <ul class="navbar-nav me-auto mt-2 mt-sm-0">
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>

    <!-- Desktop Profile Menu -->
    <ul class="navbar-nav ms-auto d-none d-sm-flex">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle me-2" style="font-size: 1.5rem;"></i>
          <span class="d-sm-inline d-none">{{ username() }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>

    <!-- Mobile Profile Menu -->
    <ul class="navbar-nav ms-auto d-flex d-sm-none">
      <li class="nav-item d-flex align-items-center">
        <i class="bi bi-person-circle me-2" style="font-size: 1.5rem;"></i>
        <span>{{ username() }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger fw-bold" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
