<div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
  <div class="card shadow rounded border-0">
    <div id="card-header" class="bg-secondary text-center py-3 text-white rounded-top mx-n1"
      style="border-radius: 12px 12px 0 0;">
      <h5 class="mb-0">Sueniversity</h5>
    </div>
    <div class="text-center p-4 border-top-0">
      <h2 class="mb-4">Attendance Registration</h2>
      <button class="btn btn-primary w-100 py-2">
        Login with your Sueniversity ID
      </button>
    </div>
  </div>
</div>
