<div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
  <div class="card shadow rounded border-0 m-4">
    <div id="card-header" class="bg-secondary-subtle bg-gradient text-center py-3 text-secondary  rounded-top mx-n1">
      <h5 class="mb-0">Sueniversity</h5>
    </div>
    <div class="text-center p-4 border-top-0">
      <h2 class="mb-4">Register Attendance</h2>
      <p class="text-muted">Please login with your Sueniversity ID to proceed</p>
      <button class="btn btn-primary w-100 py-2" (click)="login()">
        Login with your Sueniversity ID
      </button>
    </div>
  </div>
</div>
