<div class="container mt-4">
  <h3 class="mb-3">Upcoming Sessions</h3>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let course of upcomingCourses">
      <div class="card shadow-sm" (click)="goToCourseDetails(course)">
        <div class="card-body">
          <h5 class="card-title">{{ course.name }}</h5>
          <p class="card-text"><strong>Start:</strong> {{ course.start }}</p>
          <p class="card-text"><strong>End:</strong> {{ course.end }}</p>

          <div *ngIf="isStudent()" class="d-flex justify-content-between align-items-center mt-2">
            <p class="badge bg-warning text-dark m-0">Pending</p>
            <button class="btn btn-primary btn-sm" (click)="markPresAsStudent(course); $event.stopPropagation()">Mark Presence</button>
          </div>

          <button *ngIf="isTeacher()" class="btn btn-secondary btn-sm"
                  (click)="onViewDetails($event, course)">
            Detail
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
