<div class="container mt-4">
  <h3>Overview</h3>

  <table class="table mt-3">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Present</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of attendanceData">
      <td>{{ student.studentName }}</td>
      <td>
        <span *ngIf="student.isAbsent" class="badge bg-danger">Absent</span>
        <span *ngIf="!student.isAbsent && !student.teacherSubmitted && student.studentSubmitted" class="badge bg-primary">Marked</span>
        <span *ngIf="student.teacherSubmitted" class="badge bg-success">Present</span>
        <span *ngIf="!student.isAbsent && !student.teacherSubmitted && !student.studentSubmitted" class="badge bg-secondary">Pending</span>
      </td>
      <td>
        <input type="checkbox"
               [(ngModel)]="student.isPresent">
      </td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-success mt-3" (click)="sendAttendance()">Submit Attendance</button>
</div>
